/* Modo oscuro */
body {
    background: #121212;
    color: #e2e2e2;
    font-family: Arial, sans-serif;
}

/* OCULTO AL INICIO */
#contenedor-personajes {
    margin-top: 15px;

    /* CUADRÍCULA flexible */
    display: grid;
    grid-template-columns: repeat(auto-fill, 130px);
    gap: 20px;
}
.d-none {
    display: none !important;
}   
/* Tamaño fijo del círculo */
.personaje-box {
    width: 130px;
    height: 160px;
    position: relative;
    cursor: pointer;
    text-align: center;
}

.personaje-box img {
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid transparent;
    transition: .2s;
}

.personaje-box.seleccionado img {
    border-color: #4CAF50;
}

/* Check encima */
.check-marca {
    position: absolute;
    top: 0px;
    right: 0px;
    background: #000000;
    border-radius: 50%;
    border: 2px solid black;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: .2s;
    font-size: 24px;
}
.check {
    position: absolute;
    top: 0px;
    right: 0px;
    background: #000000;
    border-radius: 50%;
    border: 2px solid black;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
    font-size: 24px;
}
.personaje-box.seleccionado .check-marca {
    opacity: 1;
}

/* Títulos y textos */
h1, label, p {
    color: #f0f0f0;
}

/* Opciones */
select, button {
    background: #1e1e1e;
    color: white;
    border: 1px solid #555;
    padding: 6px 10px;
    border-radius: 6px;
}

/* Hover botones */
button:hover {
    background: #333;
}