/* Contenedor de personajes */
#contenedor-personajes {
    margin-top: 15px;

    display: grid;
    grid-template-columns: repeat(auto-fill, 130px);
    gap: 20px;
}

/* Caja del personaje */
.personaje-box {
    width: 130px;
    height: 160px;
    position: relative;
    cursor: pointer;
    text-align: center;
}

/* Imagen circular */
.personaje-box img {
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid transparent;
    transition: .2s;
}

/* Imagen seleccionada */
.personaje-box.seleccionado img {
    border-color: #4CAF50;
}

/* Check de selección invisible inicialmente */
.check-marca {
    position: absolute;
    top: 0;
    right: 0;
    background: #000000;
    border-radius: 50%;
    border: 2px solid black;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: .2s;
    font-size: 24px;
}

/* Check */
.check {
    position: absolute;
    top: 0;
    right: 0;
    background: #000000;
    border-radius: 50%;
    border: 2px solid black;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
    font-size: 24px;
}

/* Mostrar check al seleccionar */
.personaje-box.seleccionado .check-marca {
    opacity: 1;
}